---


interface  Props {
    name: string,
    imageUrl: string
}

const {name, imageUrl} = Astro.props as Props

---


<div class="client-item-container">

    <img src={imageUrl} height=auto, width=100%, alt={name} />

</div>


