---
import slugify from '../../js/slugify'



interface  Props {
    name: string,
    imageUrl: string,
}

const {name, imageUrl} = Astro.props as Props

---


<div class="baseCardClient td-n c-dark">
    <a href=`/clients/${slugify(name.toLocaleLowerCase())}`>
        <img src={imageUrl} height=auto, width=100%, alt={name} />
    </a>

</div>


