---
import CareerSegment from "../component/Segments/CareerSegment.astro";
import BodyLayout from "../layout/BodyLayout.astro";
import MainLayout from "../layout/MainLayout.astro";




---

<MainLayout title = "Career", description = "Job opportunities at halua content">

	<BodyLayout>
	
	
		<div class="career-div">

			<CareerSegment/>
			
		</div>

	</BodyLayout>

</MainLayout>


<style>

	.career-div {
	height:100%;
	margin-bottom: 5%;
	}


	
</style>
