---



import CardTwoCol from "../component/Items/CardTwoColumn.astro";
import MainLayout from "../layout/MainLayout.astro";


---




<MainLayout>

    <div class="baseIndex bodyPadding">
        <CardTwoCol 
        mainText="PRIYO MUKH",
        subText="Penoa Presents",
        imgUrl="/pm.gif",
        endText="Coming soon.."
        />

    </div>


    
</MainLayout>