---
import HeadLayout from "../layout/HeadLayout.astro"

---

<HeadLayout title = "Penoa Proposal"/>
<body>


    <!-- PAGE 1 -->
    <div class=" relative w-full h-[100dvh] flex justify-center items-center">
        <img class=" absolute top-0 left-0 w-full h-[100dvh] object-cover z-0" src="https://ik.imagekit.io/devyjoneslocker/wave-2.gif" alt="wave"/>
        <div class=" absolute h-[100dvh] w-full left-0 top-0 bg-slate-950 opacity-90"></div>
        <div class=" absolute h-[100dvh] w-full left-0 top-0 bg-wave opacity-5"></div>

        
        <img class="z-20 shadow-lg w-[60vw] h-auto" src="https://ik.imagekit.io/devyjoneslocker/penoa.png?updatedAt=1719064096672" alt="penoalogo"/>
    </div>

    <!-- PAGE 2 -->
    <div class=" relative w-full h-[100dvh] flex items-center justify-center    bg-gray-950"> 
        <img class="absolute top-0 left-0 h-[100dvh] w-full z-0 opacity-5 object-cover" src="https://ik.imagekit.io/devyjoneslocker/penoa-1.png?updatedAt=1719066932486"/>
    
        <div class=" absolute top-0 left-0 h-full w-fullz-10 opacity-15 .pattern-cross-dots-sm">
        </div>

        <div class="z-20 text-white noto font-extrabold text-[2vw]">
            <div> সে তোমার মোহে ঘুরতে আবার এসেছি</div>
            <div> এ সমস্ত পথের 'পরে ঘর বেঁধেছি</div>
            <div> এ রুহের তলে ...</div>
            <div class="text-[1.5vw] font-thin text-right">-পেনোয়া</div>
        
        </div>
        
    </div>

    <!-- PAGE 3 -->
   
    <img class="w-full h-[100dvh] object-cover" src="https://ik.imagekit.io/devyjoneslocker/penoa-3.jpg" alt="penoa group"/>

        
    
    <!-- PAGE-4 -->
    <div class=" w-full h-[100dvh] flex  items-center justify-center pt-[10vh] bg-green p-[8vw]">

        <div class="w-[50vw] p-[4vw]">
            <div class="text-[1.1vw] font-thin text-justify text-white">
                পেনোয়া মানে হলুদ ফুল। 
                হালের কক্সবাজার ছিলো একসময় হলুদ ফুলের রাজ্য। 
                সেই রাজ্যের শব্দ, রূপ, রস, গন্ধ পৃথিবীতে ছড়িয়ে দেয়ার একটা চেষ্টা এই পেনোয়া। 
                পেনোয়া শুধুই একটা ব্যান্ড নয়। 
                এটা একটা প্রয়াস, যেখানে এই ভূখণ্ডের দর্শন, ঐতিহ্য, পুরাকথা এবং লোকাচারবিদ্যা নিয়ে পুনরনুসন্ধান করা হয়। 
                সাথেসাথে সারা পৃথিবীময় ছড়িয়ে থাকা অজস্র ভাষার সাথে এর সংযোগ বুঝতে চায়।     </div>
            
            <br>
    
            <div class="text-[1.3vw] font-medium text-justify text-yellow-300">
                বৈচিত্র্যময় ভাষার মাঝে ফুটে থাকে যে আশ্চর্য ফুল, সেই ফুলের খুশবু ধরে ধরে হাঁটতে চায় পেনোয়া। 
                কথায় ও সুরে বাংলা ও বিশ্ব-গানের যে ঐশ্বর্যময় সমুদ্র আছে সেখানে পেনোয়াও একটা ভেলা ভাসাতে চায়।  </div>
        </div>
        <div class="flex-2 flex justify-center items-center flex-1 ">
            <img class="h-[20vw] w-auto " src="https://ik.imagekit.io/devyjoneslocker/Photo%20from%20Enam.jpg" alt="penoa flower"/>
        </div>
    
        
    
    </div>
    
    
    <!-- PAGE-5 -->
    <img class="w-full h-[100dvh] object-cover" src="https://ik.imagekit.io/devyjoneslocker/penoa-group.jpg" alt="penoa group"/>

    <!-- PAGE-6 -->

    <div class="w-full h-[100dvh] flex text-justify justify-center items-center bg-news text-[1.1vw] ">

        <div class="flex">
            <div class="p-[4vw] flex-1" >
                <div> 
                    'কথা' পেনোয়ার গানের প্রাণের অর্ধেক। এই অর্ধেকই আগে তৈরি হয়। পেনোয়া গানের কথাগুলোর মধ্য দিয়েই প্রবাহিত করতে চায় অস্তিত্ব ও জীবন, দর্শন, পুরাকথা এবং প্রাণের ইতিহাস। 
                </div>
                <br>
                <div> <span class="bg-yellow-400 inline-block">ইয়াসির আরাফাত</span>, পেনোয়ার প্রধান গীতিকার এবং গায়ক। এছাড়া গানের কথা নিয়ে যে পুনরনুসন্ধান পেনোয়া করে তার প্রধান ব্যাক্তি।  </div>

                <br>
                <div>
                    সুর' পেনোয়ার গানের প্রাণের বাকি অর্ধেক। 
                    সুরের ক্ষেত্রে পেনোয়া মানুষের আদি অকৃত্রিম অনুভূতির প্রকাশই যেন জাহির করতে চায়৷ হৃদয় হতে উৎসরিত আবেগের নহরে ডুব দিয়ে সবচেয়ে পুরোনো নুড়িটাই যেন সে তুলে আনতে চায়। 
                    
                </div>

            </div>

            <div class="p-[4vw] flex-1" >
                <div>

                    <span class="bg-yellow-400 inline-block">ভগবান রুদ্র</span>-ই এই কাজটির পুরোধা ব্যক্তি।
                    পেনোয়ার প্রধান সুরকার এবং গায়ক। 
                    গল্পই তার গানের প্রাণ। 
                    প্রথমে গানের কথাগুলোর মধ্যে নিমজ্জিত হন।
                    যাপন করেন শব্দগুলোকে। 
                    এরপর তার গল্প ধরে ধরে বাঁধেন আরেক গাথা। 
                    এবং সহসাই গেয়ে উঠেন আকুল সুরে। 
                     </div>
                <br>
                <div>
                    <span class="bg-yellow-400 inline-block">রথিন পাল</span>ও পেনোয়ার একজন সুরকার ও মূল গায়ক। এছাড়াও পেনোয়ার মিউজিক বিভাগের দায়িত্বশীল সে। রথিন সুর করে তার নিজস্ব আরেকটা উপায়ে। এভাবে পেনোয়া পায় আরেকটা ভিন্ন সুর। 
                </div>
                <br>
                <div>
                    <span class="bg-yellow-400 inline-block">মোহাম্মাদ জাকির হোসেন লিমন</span>, একজন সংগীতশিল্পী, বাদ্যযন্ত্র বাদক, গবেষক ও নির্মাতা। 
                    বাংলার নিজস্ব বাদ্যযন্ত্র নিয়েই তার আগ্রহ ও সাধনা। 
                    লিমন নিজের বানানো অনেকগুলো পরীক্ষামূলক যন্ত্র নিয়ে পেনোয়ার সাথে বাজাচ্ছেন এবং গাইছেন।
                </div>
                
            </div>

            <div class="p-[4vw] flex-1" >
                <div> <span class="bg-yellow-400 inline-block">পংকজ চৌধুরী রনি</span>, একজন আর্টিস্ট, গবেষক, চিত্রপরিচালক, মঞ্চ অভিনেতা, কবি। তিনি তার বহুমুখী অভিজ্ঞতা নিয়ে আমাদের সাথে যুক্ত আছেন। মূলত আমাদের ভিজ্যুয়াল সেকশনটা বর্তমানে তিনিই দেখছেন। </div>
                <br>
                <div> <span class="bg-yellow-400 inline-block">সমুদ্র সন্তান</span>, কবি, গীতিকার, ডিজাইনার, আমাদের একজন। তিনি দেখছেন আমাদের ব্র‍্যান্ডিং। </div>
                <br>
                <div>
                    গিটারে রথিন পাল ও ভগবান রুদ্র, 
                    <span class="bg-yellow-400 inline-block">অনিন্দ্য পাল জিৎ</span> রিদম সেকশনে। 
                    এছাড়াও আরও একটা বড় দল আছে পেনোয়ার। 
                    যারা পেনোয়ার সাথে অষ্টেপৃষ্ঠে জড়িয়ে আছে। 
                    আরও বেশ কিছু গীতিকার ও সুরকার নিয়ে কাজ করছে পেনোয়া। 
                    তার নিজের একটা ক্রিয়েটিভ প্যানেল আছে, যারা গানের কথা, সুর আর কম্পোজিশনে কাজ করে৷
                       </div>
                <br>

                <div>
                    সর্বোপরি, <span class="bg-yellow-400 inline-block">ফারমিন ফয়সাল</span>  আছেন আমাদের সাথে মিউজিক প্রডিউসার হিসাবে। 
                </div>

                

            </div>
        </div>
        
'



    </div>

     <!-- PAGE-7 -->

    <img class="w-full h-[100dvh] object-cover" src="https://ik.imagekit.io/devyjoneslocker/penoa-kuhu.jpg" alt="penoa group"/>


    <!-- PAGE-8 -->

    <div class="w-full h-[100dvh] flex bg-gray-950">

        <div class="w-[50vw] text-white flex flex-col justify-center p-[8vw] text-justify text-[1.1vw]">
            <div>
                গত তিন বছরে পেনোয়া তিরিশটার বেশি গান বানিয়েছে।
                গত ফাল্গুনে পেনোয়া তাদের প্রথম এলবাম  <span class="bg-yellow-600 inline-block p-1">"এ রুহের তলে" দিয়ে পৃথিবীর সামনে উন্মোচিত হয়।</span> 
                এই এলবামে ১৩টা গান থাকবে।
                ইতিমধ্যে ৫টা গানের অডিও-ভিজ্যুয়াল তারা ইউটিউব ও ফেইসবুকে প্রকাশ করেছে।
                বাকিগানগুলোও আগামী দুই মাসের মধ্যে প্রকাশ করার কথা তারা ভাবছে। 
            </div>
            <br>
            <div>এরপরে আসবে বর্ষাকালীন এলবাম "তুমি বৃষ্টি মাখাও গায়ে"। এই এলবামেও থাকবে ১৩টা গান। যে গানগুলোও তারা প্রস্তুত করছে। </div>
        </div>
        <div class="w-[50vw] flex flex-col">
            <div class=" h-[50dvh] pt-[4dvh] pb-[2dvh] px-[1vw] box-border">
                <iframe class="h-full aspect-video max-w-[48vw]" src="https://www.youtube.com/embed/cByWHoo-2bw?si=4HegT_4EaRl13IFa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="h-[50dvh] pt-[2dvh] pb-[4dvh] px-[1vw] box-border">
                <iframe class="h-full aspect-video max-w-[48vw]" src="https://www.youtube.com/embed/sXKao0PPwlU?si=hvF4qS5FtQimwKUJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

    </div>
    <!-- PAGE-8 -->

    <div class="w-full h-[100dvh] pattern-dots-sm flex">

        <div class="flex flex-col w-[50vw] ">

            <div class="h-[50dvh] pt-[4dvh] pb-[2dvh] px-[1vw] box-border flex justify-end items-end ">
                <iframe class="h-full aspect-video max-w-[48vw]" src="https://www.youtube.com/embed/Ul1d5rfcf-M?si=KSjHr19FjWlldxpv"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>

            <div class="h-[50dvh] pt-[2dvh] pb-[4dvh] px-[1vw] box-border flex justify-end items-start ">
                <iframe class="h-full aspect-video max-w-[48vw]" src="https://www.youtube.com/embed/fO4Crrd7Pk0?si=bVvBTQr_sZ1sEN15"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
             </div>
            
        </div>
        <div class="flex flex-col w-[50vw] ">

            <div class="h-[50dvh] pt-[4dvh] pb-[2dvh] px-[1vw] box-border ">
                <div class="  h-full aspect-video max-w-[48vw]  flex p-[4vw] text-[1.1vw] ">

                    নতুন গান বানানোর দিকেই পেনোয়া সবচেয়ে বেশি মনোযোগী। প্রতিনিয়তই পেনোয়া গান বানাতে চায় এবং বিভিন্ন মাধ্যমে সেটাকে উপস্থাপন করতে চায়৷ পেনোয়া সারা দুনিয়ায় ছড়িয়ে থাকা অজস্র গানপ্রেমীর সংস্পর্শে আসতে চায়। এর মাধ্যমেই পেনোয়া নিজেকে উত্তরোত্তর ঋদ্ধ করতে চায়।
          

                </div>
                
            </div>
            <div class="h-[50dvh] pt-[2dvh] pb-[4dvh] px-[1vw] box-border ">
                <iframe class="h-full aspect-video max-w-[48vw]" src="https://www.youtube.com/embed/JBTVAEdFOno?si=O6kJNGG0edPIYDwm"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            
        </div>

    </div>


    <img class="w-full h-auto object-cover" src="https://ik.imagekit.io/devyjoneslocker/penoa-concert.jpg" alt="penoa group"/>

   

    







 


      



  




</body>

<style>

.bg-wave {
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #001122 7px ), repeating-linear-gradient( #bebfc555, #bebfc5 );
}

.bg-green {
    background-color: #325035;
}
</style>