

:root {
    --mobile: 680px;
    --bgDark: rgb(35,31, 32); 
}


/* Universal */



body, html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/*Colors*/

.bgDark {
    background-color: rgb(35,31, 32);
}

.colorDark {
    color: rgb(35,31,32);
}

.bgWhite {
    background-color: white;
}

.colorWhite {
    color: white;
}

.bgOffWhite {
    background-color: rgb(245,245,245);
}

.bgNews {
    background-color:antiquewhite;
}

.colorNews {
    color:antiquewhite;
}








/* width */


.fullWidth {
    width: 100%;
}


/*Z Index */





/* LINK */

.linkOnWhite > a:link, .linkOnWhite > a:visited {
    text-decoration: none;
    color: rgb(35, 31, 32);
    cursor: pointer;
}




.linkOnWhite:hover > a:link, .linkOnWhite:hover > a:visited, .linkOnWhite:hover {
    color:rgb(226, 22, 100);
    font-weight: 600;
    cursor: pointer;
}



/* Navigation */



.nav-head {
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 60px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-head img {
   
   height: 8vh;
   width: auto;
}

.menu-icon-container {
    display: none;
}



.menu-container{
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item {
    position: relative;
    padding: 0px 24px;
}

.menu-item:hover {


    transform: translate(5px);
    transition: transform .4s;
    transition-timing-function: ease-out;
  }

.menu-close-button {
    display: none;
}


/* Footer */

.footer-main-container {
    box-sizing: border-box;
    display: block;
    padding: 1vw;
}

.footer-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1vw;


}




.contact-container, .social-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    font-size: small;
}

.social-container{
    align-items: center;
}

.social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
  
}

.site-container {
    align-items: end;
    font-size: small;
}

.fa {
    padding: 1vw;
    font-size: 1vw;
    width: 1vw;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25%;
    border: 1px solid rgb(35, 31, 32);
    color: rgb(35, 31, 32);
  }
  
  
  .fa-youtube:hover {
    background: #bb0000;
    color: white;
  }
  
  .fa-facebook:hover {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
  }
  
  .fa-linkedin:hover {
    background: #007bb5;
    color: white;
  }
  
  .fa-instagram:hover {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest:hover {
    background: #cb2027;
    color: white;
  }
  
  .fa-soundcloud {
    background: #ff5500;
    color: white;
  }


  /* Intro */


  .intro-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    height: 90vh;
    width: 100%;

  
  }


  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .intro-text{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    animation: slideInFromLeft .8s ease-out 0s 1 normal forwards;
 
  
  }

  .intro-image{
    box-sizing: border-box;
    position: relative;
    width: 60%;
    height: 100%;
    padding: 24PX;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: slideInFromRight .8s ease-out 0s 1 normal forwards;
  }


  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-text{
    font-weight: 900;
    font-size: 5vw;
 
}


.sub-text{
 
    font-weight: 100;
    font-size: 3vw;
 
}

.des-text {
    padding: 1vw 5vw;
    text-align: justify;
    font-weight: 300;
}

.end-text {
    color:rgb(226, 22, 100);
    font-size: 3vw;
    font-weight: 500;
}



.text-div{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 10vw;
    color: rgb(35, 31, 32);
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SHOWCASE */


.showcase-container{
    box-sizing: border-box;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    width: 100%;

  
  
}


.showcase-content-container {

   
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: auto;
    justify-content: center;
}


/* YOUTUBE CARD */

.youtube-item-container {
    
    margin: 12px;
    box-sizing: border-box;
    width: 32vw;
    position: relative;
}

.youtube-item-video-container{
    position: relative;
    width: 32vw;
    height: 18vw;
    cursor: pointer;
}

.youtube-item-iframe{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.youtube-item-text-container {
    display: flex;
    flex-direction: column;
    padding-top: .5vw;
    
}


.video-name{
    font-weight: 900;
    font-size: 1.5vw;
    text-transform: uppercase;
}

.video-client{
    font-weight: 500;
    font-size: 1.3vw;
    text-transform: uppercase;
}

.video-footer {
    display: flex;
    justify-content: space-between;
    font-size: .8vw;
}


/* CLIENTS */


.clients-content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    min-height: 90vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

}

    .client-item-container {
        box-sizing: border-box;
        width: 100px;
        height: auto;
        margin: 5px;
      
    }


    /* TEAM */

    .team-card-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

    .team-container2 {
        min-height: 90vh;
    }

    .team-card-container2 {
		display: flex;
		flex-direction: row;
		align-content: flex-start;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        flex-wrap: wrap;
	}


    .team-card-item-cotainer2{
        position: relative;
        box-sizing: border-box;
        margin: 12px;
        height: 50vh;
        width: 36vh;
        overflow: hidden;
        cursor: pointer;
    }

    .teamCard-image-container2{
        position: absolute;
        top: 0; left: 0;
        z-index: 8;

    }

    .team-card-text-container{
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        box-sizing: border-box;
        align-items: center;
        align-content: center;
        opacity: 0;
        transition: 2s;
        color: white;
       

    }

    .creative-name2 {
        font-weight: 900;
        font-size: 3vh;
        text-transform: uppercase;
    }

    .creative-role2{

        font-weight: 300;
        font-size: 1.5vh;
        text-transform: uppercase;


    }

    .team-card-text-background2{

        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 8;
        background-color: rgb(35, 31, 32);
        opacity: 0;
        transition: 1s;

    }

    .team-card-item-cotainer2:hover .team-card-text-background2 {
        opacity: .95;
    }

    .team-card-item-cotainer2:hover .team-card-text-container {
        opacity: 1;
    }

  


