

:root {
    --mobile: 680px;
    --bgDark: rgb(35,31, 32); 
    --bgRed: rgb(235,34,21)
    
}


/* Universal */



body, html {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}


/*Colors*/

.bgDark {
    background-color: rgb(35,31, 32);
}

.colorDark {
    color: rgb(35,31,32);
}

.c-dark {

    color: rgb(35,31,32);

}

.bgWhite {
    background-color: white;
}

.colorWhite {
    color: white;
}

.bgOffWhite {
    background-color: rgb(245,245,245);
}

.bgNews {
    background-color:antiquewhite;
}


.colorNews {
    color:antiquewhite;
}

.c-golden {
    color:rgb(250, 221, 182);
}


/* FONT SIZE */

.fvw-10 {
    font-size: 10vw;
}


/* Align */

.ta-c {
    text-align: center;
}

.ta-s {
    text-align: start;
}

.ta-e {
    text-align: end;
}

.centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jc-c {
    display: flex;
    justify-content: center;
}


/* Border */


.bdr-tl {
    border-top: 1px solid var(--bgDark);
    border-left: 1px solid var(--bgDark);

}

.bdr-br {
    border-bottom: 1px solid var(--bgDark);
    border-right: 1px solid var(--bgDark);
}



/* padding */

.navBarPadding {
    padding: 2vw;
}

.footerPadding {
    padding: 2vw;
}

.bodyPadding {
    padding: 2vw;
}

.rightPadding {
    padding-right: 2vw;
}

.leftPadding {
    padding-left: 2vw;
}


/* Margin */


.margin-tb-2vw {

    margin:2vw 0;

}






/* width */


.fullWidth {
    width: 100%;
}

.width40 {
    width: 40%;
}

.width50 {
    width: 50%;
}

.width60 {
    width: 60%;
}


/*Z Index */





/* FLEX */

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-rev {
    flex-direction: row-reverse;
}

.jc-start {
    justify-content: start;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: end;
}

.ai-start {
    align-items: start;
}

.ai-center {
    align-items: center;
}

.ai-end {
    align-items: end;
}




/* LAYOUTS */

.BaseMainLayout {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    height: 100%;
}


.headMainLayout {
    display: block;
}

.contentMainLayout {
    display: block;
}

.footerMainlayout{
    display: block;
}

.wideFooter{
    display: block;
}

.narrowFooter{
    display: none;
}



/* Navigation */

.baseNavbar {
    box-sizing: border-box;
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoNavbar img {
   height: 8vh;
   width: auto;
}

.menuNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}

.drawerIconNavbar {
    display: none;
    cursor: pointer;
}


.closeButtonMenu {
    display: none;
}



.brandNavbar_Blog {
    font-size: 10vw;
    text-align: center;
    color: var(--bgDark);
    font-weight: 100;
}



.seperatorMenu:last-child {
    display: none;
}






/* Footer */

.baseFooter {
    box-sizing: border-box;
    display: block;
}

.headFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1vw;


}




.contactFooter, .socialFooter{
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    font-size: small;
}

.socialFooter{
    align-items: center;
}

.siteFooter {
    align-items: end;
    font-size: small;
}

.socialIconsFooter {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
  
}






  /* Intro */

  .baseCardTwoCol {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 100%;
  }


  

  .textCardTwoCol{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    justify-content: center;
  }

  .imgCardTwoCol{
    box-sizing: border-box;
    position: relative;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }


 

.mainTextCardTwoCol{
    font-weight: 900;
    font-size: 5vw;
}


.subTextCardTwoCol{
 
    font-weight: 100;
    font-size: 3vw;
 
}

.desTextCardTwoCol {
    font-weight: 300;
}

.endTextCardTwoCol {
    color:rgb(226, 22, 100);
    font-size: 3vw;
    font-weight: 500;
}




.iframeCardTwoCol {
    width: 48vw;
    aspect-ratio: 1.78;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.text-div{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 10vw;
    color: rgb(35, 31, 32);
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SHOWCASE */


.baseShowCase{
    box-sizing: border-box;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    width: 100%;

  
  
}


.contentShowCase {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: auto;
    justify-content: start;
    gap: 2vw;
}


/* YOUTUBE CARD */

.baseCardYouTube {
    box-sizing: border-box;
    width: 30.66vw;
    position: relative;
}

.videoCardYouTube{
    position: relative;
    width: 100%;
    aspect-ratio: 1.78;
    cursor: pointer;
}

.iframeCardYouTube
    {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--bgDark);
}

.textCardYouTube {
    display: flex;
    flex-direction: column;
    padding-top: .5vw;
    
}


.nameCardYouTube{
    font-weight: 900;
    font-size: 1.5vw;
    text-transform: uppercase;
}

.clientCardYouTube{
    font-weight: 500;
    font-size: 1.3vw;
    text-transform: uppercase;
}

.footerCardYouTube {
    display: flex;
    justify-content: space-between;
    font-size: .8vw;
}


/* CLIENTS */


.clients-content-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 100%;
    min-height: 90vh;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

}

    .baseCardClient {
        box-sizing: border-box;
        width: 100px;
        height: auto;
        margin: 5px;
      
    }


    /* TEAM */

    .team-card-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

    .team-container2 {
        min-height: 90vh;
    }

    .team-card-container2 {
		display: flex;
		flex-direction: row;
		align-content: flex-start;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        flex-wrap: wrap;
	}


    .team-card-item-cotainer2{
        position: relative;
        box-sizing: border-box;
        margin: 12px;
        height: 50vh;
        width: 36vh;
        overflow: hidden;
        cursor: pointer;
    }

    .teamCard-image-container2{
        position: absolute;
        top: 0; left: 0;
        z-index: 8;

    }

    .team-card-text-container{
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 24px;
        box-sizing: border-box;
        align-items: center;
        align-content: center;
        opacity: 0;
        transition: 2s;
        color: white;
       

    }

    .creative-name2 {
        font-weight: 900;
        font-size: 3vh;
        text-transform: uppercase;
    }

    .creative-role2{

        font-weight: 300;
        font-size: 1.5vh;
        text-transform: uppercase;


    }

    .team-card-text-background2{

        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        z-index: 8;
        background-color: rgb(35, 31, 32);
        opacity: 0;
        transition: 1s;

    }

    .team-card-item-cotainer2:hover .team-card-text-background2 {
        opacity: .95;
    }

    .team-card-item-cotainer2:hover .team-card-text-container {
        opacity: 1;
    }


    /* 404 */

    .opps {

        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100dvh;
        width: 100%;
        padding: auto;
        margin: auto;
        font-size: 5vw;
        text-align: center;
      
    }

    
    /* Blog */




    .postCardListContainer {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        
    }

    .postCardContainer {
        box-sizing: border-box;
        margin: 20px;
        width: 100%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }


    .postCardImage {

        overflow: hidden;
        width: 100%;
        height: 100%;

    }

    .postCardImage img {

       width: 100%;
       height: 100%;
       object-fit: cover;
       

    }

    .postCardText {
        background-color: var(--bgDark);
        max-width: 50%;
        position: absolute;
        left: 10px;
        top: 10px;
        bottom: 10px;
        z-index: 10;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        padding: 24px;
        background-color: var(--bgDark);
        color: aliceblue;
        opacity: .95;
    }

    .postCardHeader {
        font-size: 2vmax;
    }

    .postCardBody {
        font-size: .8vmax;
    }



    /*SERVICES /
  


