
:root {
    --mobile: 680px;
    --bgDark: rgb(35,31, 32); 
    --bgRed: rgb(235,34,21)
    
}

/* General */

a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
}

.td-n {
    text-decoration: none;
}


/* linkOnLight */

.link-l > a:link, .link-l > a:visited, .link-l {
    color: rgb(35, 31, 32);
}

.link-l:hover > a:link, .link-l:hover > a:visited, .link-l:hover {
    color:rgb(226, 22, 100);
}

/* linkOnDark */




.link-d > a:link, .link-d > a:visited {
    color:antiquewhite;
}
.link-d > a:link:hover, .link-d > a:visited:hover {
 
    color:rgb(253, 184, 35);
    font-weight: 600;

}


.link-n > a:link, .link-n > a:visited {
    transition: .4s;
    color: var(--bgDark);
}

.link-n:hover > a:link, .link-n:hover > a:visited, .link-n:hover {
  background-color: var(--bgDark);
  color:antiquewhite;
  padding: 10px;
  
}






/* Buttons */


.btn-text {
    position: relative;
    padding: 0px 24px;
}


/* Icon Buttons */
.fa {
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    padding: 1.5vw;
    font-size: 1.5vw;
    width: 1.5vw;
    color: rgb(35, 31, 32);
    transition: .5s;
   
  }

  .fa-l {

    color: rgb(35, 31, 32);


  }


  .fa-d{

    color:antiquewhite;

  }
  
  
  .fa-youtube:hover {
    color: #bb0000;
  }
  
  .fa-facebook:hover {
    color: #3B5998;

  }
  
  .fa-twitter:hover {
    color: #55ACEE;
 
  }
  
  .fa-linkedin:hover {
    color: #007bb5;
  }
  
  .fa-instagram:hover {
    color: #125688;
  }
  
  .fa-pinterest:hover {
    color: #cb2027;
  }
  
  .fa-soundcloud {
    color: #ff5500;
  }



