@media only screen and (max-width: 680px) {

    /* Navigation */



.nav-head {
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}



.menu-icon-container {
    display: block;
}


.menu-container{
  
    position: fixed; top: 0; right: 0;
    overflow: hidden;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 0;
    transition: 0.5s;
    row-gap: 24px;
}

.menu-close-button {
    display: block;
    font-size: 5vw;
}




/* Footer */

.footer-main-container {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    row-gap: 4vw;
}


.footer-segment-head {
  font-weight: 700;
}

.site-container {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vw;
}

.social-icons {
    margin: 0;
    width: 100%;
    justify-content: center;

}

.contact-container {
    padding: 0;
}


.footer-footer {
    justify-content: center;
    font-size: 2.5vw;
}


.fa {
    padding: 3vw;
    font-size: 3vw;
    width: 3vw;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10%;
    color: rgb(35, 31, 32);
    border: 1px solid rgb(35, 31, 32);
  }
  
  
  
  .fa-youtube:hover {
    background: #bb0000;
    color: white;
    border: none;
  }
  
  .fa-facebook:hover {
    background: #3B5998;
    color: white;
    border: none;
  }
  
  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
    border: none;
  }
  
  .fa-linkedin:hvoer {
    background: #007bb5;
    color: white;
    border: none;
  }
  
  .fa-instagram:hover {
    background: #125688;
    color: white;
    border: none;
  }
  
  .fa-pinterest:hover {
    background: #cb2027;
    color: white;
    border: none;
  }
  
  .fa-soundcloud:hover {
    background: #ff5500;
    color: white;
    border: none;
  }

  /* hALUA iNTRO */

  .intro-container {
  
    flex-direction: column-reverse;
  

  
  }

  .intro-image{
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 24px 1px;
    justify-content: end;
    animation: none;
  }

  .intro-text{
  
    width: 100%;
    height: 60%;
    justify-content: start;
    animation: none;

 }

 .main-text{
  font-size: 10vw;

}

.sub-text{
 
  font-size: 6vw;

}


.end-text {
  
  font-size: 6vw;

}


/*SHOW CASE */


.youtube-item-container {
  box-sizing: border-box;
  margin: 6px;
  width: 96vw;
  position: relative;
}


.youtube-item-video-container{
  position: relative;
  width: 96vw;
  height: 54vw;
}

.video-name{
 
  font-size: 4vw;
}

.video-client{

  font-size: 3vw;
}

.video-footer {

  font-size: 2vw;
}

/* Team */


.team-card-item-cotainer2{
  
  height: 75vh;
  width: 45vh;
  background-color: rgb(241, 241, 241);



}

.teamCard-image-container2{
  position: relative;
  padding: 1vh;
  border-radius: 15;
  margin: 0;


}

.team-card-text-container{
  position: relative;
  opacity: 1;
  align-content: center;

  display: flex;
  flex-direction: column;
  padding: 0;

  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: var(--bgDark);

}

.team-card-text-background2{

  display: none;

}











}