---

---


<div class="intro-container">

    <div class = "intro-text">
        <div class="sub-text"> Penoa Presents</div>
        <div class="main-text">PRIYO MUKH</div>
        <p class="des-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quibusdam mollitia animi quam quos asperiores dolor praesentium iste molestiae! Non quod, tempora sapiente porro molestiae commodi voluptate sint aperiam recusandae.</p>
        <div class="end-text">COMING SOON</div>
    </div>
    <div class = "intro-image">
        <img src="/pm.gif" width="100%"/>
    </div>
      
</div>