---

interface Props {

text: String
}

const { text } = Astro.props as Props

---


<div  class="main-heading">

    <h1 class="page-head-text">{text}</h1>

</div>




<style>

* {
    box-sizing: border-box;
}

.main-heading {
text-align: center;
margin-top: 24px;
}
</style>

