---
import PageHeading from "../Items/PageHeading.astro";




---

<div class="about montserrat-basic">
	<PageHeading text= "ABOUT US"/>

	<div class = "large-light-text">
		<p>
			We are Halua Content, a dynamic content-producing company committed to transforming ideas into captivating audio-visual masterpieces. 
			From TV commercials (TVC) and artistic visual content (AVC) to online video content (OVC), music videos, audiovisual 
			dramas, stage and street performances, social media content, short films, and feature films, Holua Content is your one-stop 
			destination for comprehensive content creation.

		</p>
	</div>

	<div class = "large-bold-text">
		<p>
			At Halua Content, we are not just content creators; we are storytellers, visual artists, and experts in bringing imagination to life
		</p>
	</div>

</div>
