---
import PageHeading from "../Items/PageHeading.astro";




---

<div class="career">
	<PageHeading text= "JOIN US"/>

	<div class = "halua-des large-light-text">

		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores veniam natus quasi eveniet vero sit, ipsum nesciunt odit. Ex quia, eos, consectetur inventore magni recusandae mollitia excepturi laudantium, sequi doloremque minus. Modi debitis beatae, qui dignissimos laborum consequuntur magni nisi?</p>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, ipsum.</p>
	</div>

	<div class = "halua-des-add large-bold-text">
		<p>
			Join, Create, grow with Us.
		</p>
	</div>

    <p class="drop-cv menu-text">
		drop your cv :  
		<br>
		<a href="mailto:haluacontent@gmail.com">haluacontent@gmail.com</a>
        
    </p>

</div>

<style>

	

	
	.halua-des {
			margin-top: 6%;
		}
	
		.halua-des-add {
			margin-top: 10%;
            margin-bottom: 10%;
		}

        .drop-cv {
            margin-bottom: 10%;
        }


		</style>