---
import PageHeading from "../Items/PageHeading.astro";
import clientData from "../../data/ClientData";
import CardClient from "../Cards/CardClient.astro"


---
	<div>
		<PageHeading text="CLIENTS"/>
			<div class="clients-content-container">
		
			{
				clientData.map((item)=>(

				<CardClient name={item.name} imageUrl={item.imageUrl}/>


				))
			}

	

			</div>

	</div>




		
