---
import navData from "../../data/navData"


---


<footer>
    <div class="footer-main-container bgWhite">
        <div class="footer-header">
            <div class="contact-container">
    
                <h2 class="footer-segment-head">Contact Us</h2>
                <p class="footer-segment-content column ">
                    <span >Halua Content</span>
                    <span >Hotel Al Amin, Ghumgachtola.</span>
                    <span >Main Road, Cox's Bazar Sadar.</span>
                    <span >P.O- Cox’s Bazar 4700. Bangladesh</span>
                </p>

                <p class="column">
                    <span class="footer-segment-content">Email: haluacontent@gmail.com </span>
                    <span class="footer-segment-content">Phone: +8801732740074, +8801992655684</span>
                </p>
            </div>
                
            <div class="social-container">
                
                <h2 class="footer-segment-head">Follow Us</h2>
                  
                <div class="social-icons">
                    <a href="https://youtube.com/@Penoa?si=9p8otPFYEjFUV312" class="fa fa-youtube"></a>
                    <a href="https://www.facebook.com/people/Penoa/61556509794367/" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-pinterest"></a>
                </div>
                    
                <p class="footer-segment-content">haluacontent@gmail.com </p>
                    
            </div>


            <div class="site-container column">
    
                <h2 class="footer-segment-head">Site</h2>
                <p class="footer-segment-content column"  style="align-items:end">
    
                    <span class="linkOnWhite"><a href = "/">Home</a></span>
    
                    {
                        navData.map((item)=>(
                        <span class="linkOnWhite"><a href={item.path}>{item.name}</a></span>
                        ))
                    }
                    <span class="linkOnWhite"><a href = "/team/">The team</a></span>
                    <span class="linkOnWhite"><a href = "/career/">Career</a></span>
                </p>
    
            </div>
        </div>

        <div class="footer-footer">
    
                <small>
                    Copyright  &copy; Halua Content <span id="copywrite"></span> | all rights reserved.
                </small>
        
                <small>Powered By : Sobai</small>
        
    
        </div>
    
    </div>
</footer>


<script>

    document.querySelector("#copywrite").textContent = new Date().getFullYear().toString()
</script>


   

   

   


   


