---
import navData from "../../data/navData"


---


<footer>
    <div class="baseFooter footerPadding bgOffWhite">
        <div class="headFooter">
            <div class="contactFooter">
    
                <h2 class="titleFooter">Contact Us</h2>
                <p class="contentFooter col ">
                    <span >Halua Content</span>
                    <span >Hotel Al Amin, Ghumgachtola.</span>
                    <span >Main Road, Cox's Bazar Sadar.</span>
                    <span >P.O- Cox’s Bazar 4700. Bangladesh</span>
                </p>

                <p class="col">
                    <span class="contentFooter">Email: haluacontent@gmail.com </span>
                    <span class="contentFooter">Phone: +8801732740074, +8801992655684</span>
                </p>
            </div>
                
            <div class="socialFooter">
                
                <h2 class="titleFooter">Follow Us</h2>
                  
                <div class="socialIconsFooter">
                    <a href="https://youtube.com/@Penoa?si=9p8otPFYEjFUV312" class="fa fa-l fa-youtube"></a>
                    <a href="https://www.facebook.com/people/Penoa/61556509794367/" class="fa fa-l fa-facebook"></a>
                    <a href="#" class="fa fa-l fa-instagram"></a>
                    <a href="#" class="fa fa-l fa-twitter"></a>
                    <a href="#" class="fa fa-l fa-pinterest"></a>
                </div>
                    
                <p class="contentFooter">haluacontent@gmail.com </p>
                    
            </div>


            <div class="siteFooter col">
    
                <h2 class="titleFooter">Site</h2>
                <p class="contentFooter col"  style="align-items:end">
    
                    <span class="link-l"><a href = "/">Home</a></span>
    
                    {
                        navData.map((item)=>(
                        <span class="link-l"><a href={item.path}>{item.name}</a></span>
                        ))
                    }
                    <span class="link-l"><a href = "/team/">The team</a></span>
                    <span class="link-l"><a href = "/career/">Career</a></span>
                </p>
    
            </div>
        </div>

        <div class="footerFooter">
    
                <small>
                    Copyright  &copy; Halua Content <span id="copywrite"></span> | all rights reserved.
                </small>
        
                <small>Powered By : Sobai</small>
        
    
        </div>

    </div>
</footer>


<script>

    document.querySelector("#copywrite").textContent = new Date().getFullYear().toString()
</script>


   

   

   


   


