---
import navData from "../../data/ABN_navData"


---


<footer>
    <div class="baseFooter bgDark colorNews">

        <div>
            <small>
                &copy; <b>Halua Content</b> <span id="copywrite"></span> | all rights reserved.
            </small>
        </div>


        <div class="siteFooter">
            <div class="titleFooter link-d">
                <a href="/aboutUs/">About Us</a>
            </div>

            <div class="titleFooter link-d">
                <a href="/career/">Work With Us</a>
                
            </div>
        </div>

        <div class="contactFooter">
    
            <h2 class="titelFooter">Contact Us</h2>
            <p class="contentFooter col ">
                <span >Abohoman</span>
                <span >Hotel Al Amin, Ghumgachtola.</span>
                <span >Main Road, Cox's Bazar Sadar.</span>
                <span >P.O- Cox’s Bazar 4700. Bangladesh</span>
            </p>

            <p class="col">
                <span class="contentFooter">Email: abohoman@haluacontent.com </span>
                <span class="contentFooter">Phone: +8801732740074, +8801992655684</span>
            </p>
        </div>

        <div class="socialIconsFooter">
            <a href="https://youtube.com/@Penoa?si=9p8otPFYEjFUV312" class="fa fa-d fa-youtube"></a>
            <a href="https://www.facebook.com/people/Penoa/61556509794367/" class="fa fa-d fa-facebook"></a>
            <a href="#" class="fa fa-d fa-instagram"></a>
            <a href="#" class="fa fa-d fa-twitter"></a>
            <a href="#" class="fa fa-d fa-pinterest"></a>
        </div>


        <div class="footerFooter">
            Powered By : Sobai
        </div>
    
    </div>
</footer>


<script>

    document.querySelector("#copywrite").textContent = new Date().getFullYear().toString()
</script>


   

   

   


   


