---
import navData from "../../data/navData"


---


<footer>
    <div class="baseFooter bgOffWhite">


        <div>
            <small>
                &copy; <b>Halua Content</b> <span id="copywrite"></span> | all rights reserved.
            </small>
        </div>



        <div class="siteFooter">
            <div class="titleFooter linkOnWhite">
                <a href="/aboutUs/">About Us</a>
            </div>

            <div class="titleFooter linkOnWhite">
                <a href="/career/">Work With Us</a>
                
            </div>
        </div>

        <div class="contactFooter">
            <div class="titleFooter">Contact Us</div>
            <p class="contentFooter col">
                <span >Halua Content</span>
                <span >Hotel Al Amin, Ghumgachtola.</span>
                <span >Main Road, Cox's Bazar Sadar.</span>
                <span >P.O- Cox’s Bazar 4700. Bangladesh</span>
            </p>
            <p class="contentFooter col">
                <span >Email: haluacontent@gmail.com </span>
                <span >Phone: +8801732740074, +8801992655684</span>
            </p>
        </div>

        <div class="socialIconsFooter">
        <a href="https://youtube.com/@Penoa?si=9p8otPFYEjFUV312" class="fa fa-l fa-youtube"></a>
        <a href="https://www.facebook.com/people/Penoa/61556509794367/" class="fa fa-l fa-facebook"></a>
        <a href="#" class="fa fa-l fa-instagram"></a>
        <a href="#" class="fa fa-l fa-twitter"></a>
        <a href="#" class="fa fa-l fa-pinterest"></a>
        </div>
        <div class="footerFooter">
            Powered By : Sobai
        </div>

      
            
       
    </div>
</footer>


<script>

    document.querySelector("#copywrite").textContent = new Date().getFullYear().toString()
</script>
