---
import navData from "../../data/navData";
---




<nav>
    <div class="baseNavbar bgWhite navBarPadding">
            <div class ="logoNavbar"> 
                <a href="/">
                    <img src="/siteImages/halua-logo.png" alt="Halua Content Logo"/>
                </a>
            </div>

            <div id="menuNavbar" class="menuNavbar bgWhite">

                <div id="closeButtonMenu" class="closeButtonMenu link-l btn-txt">
                    &times;
                </div>
    
        
                {
                    navData.map((item)=>(
                        <div  class="link-l btn-text">
                            <a href={item.path}>{item.name}</a>
                        </div>
                    ))
                }
    
            </div>
       
            <div id="drawerIconNavbar" class="drawerIconNavbar">
                &#9776
            </div>
    </div>
</nav>

<script>


    document.getElementById("drawerIconNavbar").addEventListener('click', ()=> {
        const element = document.getElementById("menuNavbar");
        element.style.width = "100%";
        element.style.height = "100%";
        element.style.opacity = "1"
    })

 
 
    document.getElementById('closeButtonMenu').addEventListener('click', ()=> {

        const element = document.getElementById("menuNavbar");
        element.style.width = "0";
        element.style.height = "0";
        element.style.opacity = "0"
    });
    
 
</script>