---
import navData from "../../data/navData";

---


<nav>

    <div class="logo-container">
       <a href="/">
        <picture>
            <source media="(min-width:650px)", srcset="/siteImages/haluaContent.png">
            <img src="/siteImages/hc-mobile.png" alt="Halua Content Logo"/>
        </picture>
    </a>
    </div>

    <div class="menu-container">
        {
            navData.map((item)=>(
                <div class="menu-item-div linkOnDark menu-text">
                    <a href={item.path}>{item.name}</a>
                </div>
            ))
        }

    </div>

</nav>


<style>
    .logo-container{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-container img {
       
        width: 100vw;
        height: auto
        object-fit: cover;
        display: block;
    }

   

    .menu-container{
        background-color: rgb(35, 31, 32);
        padding: 20px;
        display: flex;
        justify-content: center;
        font-weight: 500;
    }

    .menu-item-div {
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 5px;
        padding-bottom: 5px;
    }


    @media only screen and (max-width: 600px) {

        .menu-container {
            display: none;
        }
        
    }
    </style>