---
import navData from "../../data/navData";
console.log("One Time")

---



<div class="fullWidth">
    <nav>

        <div class="nav-head fullWidth bgWhite">
            <div class ="logo-container"> 
                <a href="/">
                    <img src="/siteImages/halua-logo.png" alt="Halua Content Logo"/>
                </a>
            </div>

            <div id="menu-container" class="menu-container bgWhite">

                <div id="menu-close-button" class="menu-close-button menu-item linkOnWhite f2 w500">
                    &times;
                </div>
    
        
                {
                    navData.map((item)=>(
                        <div  class="menu-item linkOnWhite">
                            <a href={item.path}>{item.name}</a>
                        </div>
                    ))
                }
    
            </div>
       
            <div id="menu-icon-container" class="menu-icon-container">
                &#9776
            </div>
        </div>
    </nav>
</div>

<script>


    document.getElementById("menu-icon-container").addEventListener('click', ()=> {
        console.log("working")
        const element = document.getElementById("menu-container");
        element.style.width = "100%";
        element.style.height = "100%";
        element.style.opacity = "1"
    })

 
 
    document.getElementById('menu-close-button').addEventListener('click', ()=> {

        const element = document.getElementById("menu-container");
        element.style.width = "0";
        element.style.height = "0";
        element.style.opacity = "0"
    });
    
 
</script>