---

---




<div class="body-container">
    <div class="side-padding"></div>

    <div class="main-content">
            <slot></slot>
    </div>

    <div class="side-padding"></div>
</div>




<style>

.body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    


    }


    @media screen and (min-width: 1200px) {
  
        .side-padding {
        flex: 1;
    }

    .main-content {
        flex: 4;
    }
}


@media screen and (max-width: 1200px) {
  
  .side-padding {
  flex: .05;
}

.main-content {
  flex: 1;

}
}




    
</style>



