---

interface Props{
    sideFlex?: number,
    mainFlex?: number
} 


const {
    sideFlex = 1,
    mainFlex = 4
} = Astro.props as Props
---




<div class="body-container row">
    <div class="side-padding"></div>

    <div class="main-content">
            <slot></slot>
    </div>

    <div class="side-padding"></div>
</div>




<style>

.body-container {
        width: 100%;
    }



    .side-padding {
        flex: {sideFlex};
    }

    .main-content {
        flex: {mainFlex}
    }
</style>



