---
import { ViewTransitions } from "astro:transitions";

const {
	title = "Halua Content", 
	description = "Halua Content Home Page"
} = Astro.props;
---


<head>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />

    <!-- Icon-->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />


    <!-- Style Sheet-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/mobile.css">

    <!-- View Port-->
    <meta name="viewport" content="width=device-width, initial-scale = 1.0" />
   
    

    <!-- Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <!-- Title -->
    <title>{title}</title>
    <meta name="description" content= {description} />
    <meta name="keywords" content="Penoa, Halua, Halua Content, Samudra Santan">
    <meta name="author" content="Samudra Santan">

   
</head>

<style is:global>

    .montserrat-basic {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
    }






  .page-head-text {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 4vw;
    color: rgb(35, 32, 31);
   
  }

  .large-light-text {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 2vw;
    text-align: justify;
  }

  .large-bold-text {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 2.7vw;
    text-align: justify;
  }

  .small-description-text{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 10px;
  }



  .creative-name {
    font-family: "Roboto", sans-serif;
        font-size: 3vw;
        font-weight: 300;
    }
    

    .creative-role {
      font-family: "Roboto", sans-serif;
        font-size: 1vw;
        font-weight: 900;
        margin-top: 15px;
    }

    .creative-description {
      font-family: "Roboto", sans-serif;
        font-size: 1.2vw;
        font-weight: 300;
    }

    .creative-add {
      font-family: "Roboto", sans-serif;
        font-size: 1.5vw;
        font-weight: 700;
    }


    .creative-email {
      font-family: "Roboto", sans-serif;
        font-size: 1vw;
        font-weight: 400;
        padding-top: 100px;
    }



  @media only screen and (max-width: 1280px) {
  /* For tabs: */
  .menu-text {
    font-size: 1vw;
    font-family: "Roboto", sans-serif;
  }

  .large-light-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2.5vw;
    text-align: justify;
  }

  .large-bold-text {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 4vw;
    text-align: justify;
  }




}


@media only screen and (max-width: 680px) {
  /* For tabs: */
  .menu-text {
    font-size: 4vw;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
  }

  .page-head-text {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 5vw;
    color: rgb(35, 32, 31);
   
  }


  .large-light-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 3vw;
    text-align: justify;
  }

  .large-bold-text {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 5vw;
    text-align: justify;
  }



  
}






    .column {
      display: flex;
      flex-direction: column;
    }

    .row {

      display: flex;
      flex-direction: row;

    }


  
    
    </style>