---

import HeadLayout from "./HeadLayout.astro";
import ABNNavBar from "../component/Segments/NavBar_Blog.astro";
import FooterWide from "../component/Segments/FooterSegment_Blog.astro";
import FooterNarrow from "../component/Segments/FooterSegmentNarrow_Blog.astro"

const {
	title ,
	description
} = Astro.props;




---

<html lang="en">
	<HeadLayout {title} {description}/>
	<body>
	    <div class="bgNews">

		    <div class="headMainLayout">

				<ABNNavBar/>
			
			
			</div>

		    <div class="contentMainLayout">
                <main>
			        <slot>
					
					</slot>
		        </main>
		    </div>

		    <div class="footerMainLayout">

				<div class="wideFooter">
					<FooterWide/>
				
				</div>

				<div class="narrowFooter">

					<FooterNarrow/>
					
				</div>

				
				
			</div>

	    </div>
	</body>
</html>